/* Light Theme */
:root {
  --bg: #f9fcff;
  --text: #2a3b4c;
  --card: #ffffff;
  --border: #d8e8f5;
  --status-todo-bg: #ffe0e0;
  --status-done-bg: #d9f6d7;
  --theme-btn-bg: #000000;
  --theme-btn-color: #ffffff;
}

/* Dark Theme */
[data-theme="dark"] {
  --bg: #1f1f1f;
  --text: #e4e4e4;
  --card: #2a2a2a;
  --border: #444;
  --status-todo-bg: #5a1f1f;
  --status-done-bg: #245525;
  --theme-btn-bg: #ffffff;
  --theme-btn-color: #000000;
  --tr-late-dark: #000000;
}


body {
  background: var(--bg);
  color: var(--text);
  margin: 8px;
}





